@font-face{
    font-family: "Cooper-Hewitt-ThinItalic";
    src: url("../assets/CooperHewitt-ThinItalic.otf") format("truetype");
  }

@font-face{
    font-family: "Cooper-Hewitt";
    src: url("../assets/Cooper-Hewitt.ttf") format("truetype");
}

body{
    background-color: black;
    font-family: Cooper-Hewitt;

}.topgraphic{
    top: 0;
    position: absolute;
    
}

li a{
    font-family: Cooper-Hewitt;
}
p{
    font-family: Cooper-Hewitt-ThinItalic;
}

.cursive{
    font-family: Cooper-Hewitt-ThinItalic;
}
.heading{
    /* bottom: 0; */
    /* float: bottom; */
    text-align: left;
    font-size: 30px;;
    margin-left: 10px;
    z-index: -1;
    margin-left: 20px;
    color: white;

    padding-bottom: 50px;

}

#subtitle{
    font-weight: 20pt;
}

#quote{
    float: right;
}