body{
    background-color: black;
}.topgraphic{
    top: 0;
    position: absolute;
    
}

#heading{
    bottom: 0;
    /* float: bottom; */
    margin-left: 10px;
    z-index: -1;
    margin-left: 20px;
    color: white;
    font-family: sans-serif;
    padding-bottom: 50px;

}

