@font-face {
  font-family: "CooperHewitt";
  src: url("../../assets/Cooper-Hewitt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CooperHewitt";
  src: url("../../assets/CooperHewitt-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CooperHewitt";
  src: url("../../assets/CooperHewitt-ThinItalic.otf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "CooperHewittBook";
  src: url("../../assets/CooperHewitt-Book.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.book {
  font-family: "CooperHewittBook";
}

.cursive {
  font-family: "CooperHewitt";
  font-weight: 200;
  font-style: italic;
}

.bold {
  font-family: "CooperHewitt";
  font-weight: 700;
  font-style: normal;
}

#intro {
  font-size: 100px;
  position: relative;
  width: 500px;
  margin: 0 auto;
}

body {
  font-family: "CooperHewitt";
  font-weight: 200;
  font-style: italic;
  color: white;
  background-color: #191919;
}

.flex {
  display: flex;
  flex-direction: horizontal;
}

.news {
  background-color: #f5f5f5;
  max-width: 50%;
  color: #191919;
  padding: 15px;
  margin: 20px;
}

.blob {
  background-color: #f5f5f5;
  border-radius: 60% 40% 40% 20%;
}

.topgraphic {
  top: 0;
  position: absolute;
}

.notcanvas {
  margin-left: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

#q1, #q2, #q3, #q4 {
  font-family: "CooperHewitt";
  font-weight: 200;
  font-style: italic;
  width: 25%;
}

p {
  font-family: "CooperHewitt";
  font-weight: 200;
  font-style: italic;
  font-size: 14pt;
}

.heading {
  /* bottom: 0; */
  /* float: bottom; */
  font-family: "CooperHewitt";
  font-weight: 700;
  font-style: normal;
  text-align: left;
  font-size: 30px;
  color: white;
  padding-bottom: 50px;
}

#subtitle {
  font-weight: 20pt;
}

#quote {
  float: right;
}

#questionnaire {
  margin-top: -3px;
}
#questionnaire .container {
  width: 85%;
  min-height: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
#questionnaire .container .questions-left, #questionnaire .container .questions-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#questionnaire .container .clock-section {
  width: 40%;
}
#questionnaire .question-section {
  text-align: center;
}
#questionnaire .question-section .statement {
  font-family: "CooperHewitt";
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
#questionnaire .question-section .question-section:first-of-type {
  margin-bottom: 1em;
}

.clock {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock__outline {
  box-shadow: 12px 3px 6px 3px #cc99a2;
  height: 350px;
  width: 350px;
  border: 3px solid #fda5b4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}
.clock__second, .clock__minute, .clock__hour {
  position: absolute;
  left: 50%;
  transform-origin: bottom center;
  z-index: 2;
  border-radius: 2px;
}
.clock__minute, .clock__hour {
  width: 2.5px;
}
.clock__second {
  width: 1.5px;
}
.clock__second {
  height: 160px;
  margin-top: 15px;
  background: #ff3377;
  animation: time 60s infinite steps(60);
  z-index: 3;
}
.clock__axis {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 1.5px);
  background: #fda5b4;
  width: 7px;
  height: 7px;
  border-radius: 3px;
  z-index: 4;
}
.clock__minute {
  height: 150px;
  margin-top: 25px;
  opacity: 0.75;
  animation: time 3600s infinite steps(60);
  background: white;
}
.clock__hour {
  height: 105px;
  margin-top: 70px;
  animation: time 43200s linear infinite;
  background: #4c4c4c;
}

@keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
