@use 'globals' as g;
$size: 350px;

// inspired by https://codepen.io/kylewetton/pen/QJbOjw
.clock {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__outline {
        // box-shadow: 12px 3px 6px 3px g.$hotpink;
        height: $size;
        width: $size;
        border: 3px solid g.$pink;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        position: relative;
        box-shadow: 18px 0px 15px #fda5b4, inset 3px 1px 2px #fda5b4;
    }
    &__outline-outer {
        border: 2px solid g.$hotpink;
        height: $size;
        width: $size;
        border-radius: 50%;
        margin: 2px;
        padding-bottom: 15px;
        padding-right: 15px;
        box-shadow: inset 0px 0px 0 2px #ff3377, -7px 4px 12px 0px #ff3377;
    }
    &__second, &__minute, &__hour {
        position: absolute;
        left: 50%;
        transform-origin: bottom center;
        z-index: 2;
        border-radius: 2px;
    }
    &__second {
        height: ($size / 2) - 15;
        margin-top: 15px;
        background: g.$hotpink;
        animation: time 60s infinite steps(60);
        z-index: 3;
        width: 1px;
    }
    &__axis {
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 1.5px);
        background: g.$hotpink;
        width: 7px;
        height: 7px;
        border-radius: 3px;
        z-index: 4;
    }
    &__minute {
        height: ($size / 2) - 25;
        margin-top: 25px;
        opacity: 0.75;
        animation: time 3600s infinite steps(60);
        background: white;
         width: 2px;
    }
    &__hour {
        height: ($size / 2) - 70;
        margin-top: 70px;
        animation: time 43200s linear infinite;
        background: #ffadad;
        width: 3px;
    }
    .spin {
        animation: time 1s infinite;
    }
}

@keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}