#industrialization-section {
  display: flex;
  justify-content: center;
  #gears-area {
    width: 750px;

    #gears__clock {
      //background-image: url("../../img/indust-clock-background.png");
      //position: relative;
      //background-position: center;
      //background-repeat: no-repeat;
      //background-size: cover;
      width: 100%;
      height: 100%;
      position: relative;
    }

    #gears__bg {
      max-width: 100%;
    }
    .gears__longing {
      z-index: 5;
      animation: rotation 3s infinite linear;
      position: absolute;
      width: 225px;
      height: 225px;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      img {
        width: 100%;
      }

    }
    #gears__individual {
      bottom: -10px;
      height: 65%;
      width: 55%;
      position: absolute;
      left: 10px;
      .gears__relative {
        position: relative;
      }
    }
    .gears__handles {
      z-index: 10;
      position: absolute;
      width: 300px;
      right: 27px;
      top: 38px;
    }
    .gears__rot1 {
      z-index: 3;
      animation: rotation 2s infinite linear;
      position: absolute;
      top: 65px;
      left: 91px;
      img {
        width: 175px;
      }
    }
    .gears__rot2 {
      z-index: 2;
      animation: rotation 5s infinite linear;
      position: absolute;
      top: 25px;
      left: -14px;
      //border: 1px solid red;
      img {
        width: 190px;
      }
    }
    .gears__rot3 {
      z-index: 1;
      animation: rotation 5s infinite linear;
      position: absolute;
      bottom: 111px;
      left: 55px;
      img {
        width: 190px;
      }
    }
    .gears__rot4 {
      z-index: 2;
      animation: rotation 5s infinite linear;
      position: absolute;
      bottom: 138px;
      right: 33px;
      img {
        width: 195px;
      }
    }
  }

  .gears__bottom {
    animation: rotation 9s infinite linear;
    z-index: 20;
    width: 270px;
    height: 270px;
    bottom: -55px;
  }
  .gears__bottom-center {
    z-index: 21;
    width: 225px;
    height: 225px;
    bottom: -33px;
  }
  .gears__bottom, .gears__bottom-center {
    position: absolute;
    margin: auto;
    left: 46px;
    right: 0;
    img {
      width: 100%;
    }
  }
  #industrialization-text-area {
    flex: 1;
    img {
      position: absolute;
      width: 95%;
      right: 20px;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}