@use 'globals' as g;

html {
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.scroll-outer {
    overflow: hidden;
}
.book {
    font-family: 'CooperHewittBook'
}


.cursive {
    @include g.cursive;
}


#notes-section {
    border: 1px solid red;
    background-image: url("../../img/grid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    .top {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 3em;
        #concept {
            max-width: 40%;
            z-index: 1;
        }
    }
    .notes-text {
        background-image: url("../../img/notes-background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 75vw;
        color: black;
        margin: 0 auto;
        overflow-y: scroll;
        .text p {
            margin: 1.5em 2em 0 2.8em;
            font-family: 'Newspaper' !important;
            font-style: normal !important;
        }
    }
}

body {
    @include g.cursive;
    color: white;
    background-color: black;
    // background-color: #191919;
}

.flex {
    display: flex;
    flex-direction: horizontal;
}

.news {
    background-color: #f5f5f5;
    max-width: 50%;
    color: #191919;
    padding: 15px;
    margin: 20px;
}

.blob {
    background-color: #f5f5f5;
    border-radius: 60% 40% 40% 20%;
}

.topgraphic {
    top: 0;
    position: absolute; 
}

.y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
    overflow: scroll;
}
.notcanvas {
    height: 100%;
    width: 100%;
}
.section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
}
.row {
    display: flex;
    flex-direction: row;
}

#q1, #q2, #q3, #q4 {
    @include g.bold;
    width: 25%;
}

p {
    @include g.cursive;
    font-size: 14pt;
}


#subtitle {
    font-weight: 20pt;
}

#quote {
    float: right;
}

#questionnaire-intro {

    border: 1px solid yellow;
    @include g.bold;
    text-align: left;
    font-size: 30px;;
    color: white;
    padding-bottom: 50px;
    .top {
        display: flex;
        align-items: baseline;
        #start {
            margin-left: 1em;
            text-decoration: underline;
            color: g.$hotpink;
            letter-spacing: 1px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .quote {
        margin: 2em;
    }
    .leadin {
        display: none;
    }
}
#questionnaire-section {
    display: flex;
    border: 1px solid blue;
    margin-top: -3px;

    .container {
        width: 85%;
        min-height: 60vh;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        .questions-left, .questions-right {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 80%;
            align-self: center;
        }
        .clock-section {
            width: 40%;
        }  
    }
    
    .question-section {
        display: none;
        text-align: center;
        .statement {
            font-family: 'CooperHewitt';
            font-weight: 700;
            font-style: normal;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }   
        .question-section:first-of-type {
            margin-bottom: 1em;
        }
    }
}
