@use 'globals' as g;

html {
    //scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
//.scroll-outer {
//    overflow: hidden;
//}
.book {
    font-family: 'CooperHewittBook'
}


.cursive {
    @include g.cursive;
}

.section-leadin {
    height: calc(100% - 660px);

    .leadin-title {
        font-family: "Bungee Shade", cursive;
        font-size: 2.85rem;
        margin: 7px 0 0 1em;
    }
}


#notes-section {
    background-image: url("../../img/grid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 70em;
    //height: 150vh;
    width: 100%;
    .notes-spacer {
       padding-top: 20em;
    }
    .top {
        display: flex;
        justify-content: center;
        //margin-top: 2em;
        //padding-top: 8em;
        margin-bottom: 3em;
        #concept {
            max-width: 40%;
            z-index: 1;
        }
    }
    .notes-outside {
        display: flex;
        .notes-text {
            background-image: url("../../img/notes-background.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: black;
            margin: 0 auto;


            &:nth-of-type(1) {
                height: 100%;
                width: 30vw;
                .text {
                    margin-bottom: 3em;
                }
            }
            &:nth-of-type(2) {
                margin-top: 5em;
                width: 50vw;
            }
            .text p {
                margin: 1.5em 2em 0 2.8em;
                font-family: 'Newspaper' !important;
                font-style: normal !important;
            }
        }
    }

}

body {
    @include g.cursive;
    color: white;
    background-color: black;
    // background-color: #191919;
}

.flex {
    display: flex;
    flex-direction: horizontal;
}

.news {
    background-color: #f5f5f5;
    max-width: 50%;
    color: #191919;
    padding: 15px;
    margin: 20px;
}

.blob {
    background-color: #f5f5f5;
    border-radius: 60% 40% 40% 20%;
}

.topgraphic {
    top: 0;
    position: absolute; 
}

.y.mandatory-scroll-snapping {
    //scroll-snap-type: y mandatory;
    //overflow: scroll;
}
.notcanvas {
    height: 100%;
    width: 100%;
}
.section {
    height: 100vh;
    width: 100vw;
    //scroll-snap-align: center;
}
.row {
    display: flex;
    flex-direction: row;
}

#q1, #q2, #q3, #q4 {
    @include g.bold;
    width: 25%;
}

p {
    @include g.cursive;
    font-size: 14pt;
}


#subtitle {
    font-weight: 20pt;
}

#questionnaire-intro {
    height: 50vh !important;
    text-align: left;
    color: white;
    p {
        font-size: 1.5rem;
    }
    #start {
        font-family: 'Newspaper' !important;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 3rem;
        margin-left: 1em;
        letter-spacing: 1px;
        &:visited {
           text-decoration: none;
           color: white;
        }
        &:hover {
           text-decoration: underline;
        }
    }

    .quote {
        margin: 2rem;
        p {
            font-family: Arial, serif !important;
        }
        .rolling-text {
            .curved {
                font-size: 1.3rem;
                line-height: 0;
                height: 0;
                position: relative;
                display: inline-block;
                width: auto;
                div {
                    span {
                        display: inline-block !important;
                    }
                }
            }
        }
        #rolling2 {
            //transform-origin:0 100%;
            left: -13px;
            bottom: 10px;
        }
        #rolling3 {
            left: -29px;
            bottom: 28px;
        }
        #rolling4 {
            bottom: 9px;
            left: -44px;
        }
        #rolling5 {
            left: -74px;
            bottom: 20px;
        }
        &__right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            height: 100%;
            margin-top: -5em;
        }
    }
    .leadin {
        display: none;
    }
}
#questionnaire-section {
    display: flex;
    margin-top: -3px;
    height: 50vh;
    .container {
        width: 85%;
        min-height: 60vh;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        .questions-left, .questions-right {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 80%;
            align-self: center;
        }
        .clock-section {
            width: 40%;
        }  
    }
    
    .question-section {
        display: none;
        text-align: center;
        .statement {
            font-family: 'CooperHewitt';
            font-weight: 700;
            font-style: normal;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }   
        .question-section:first-of-type {
            margin-bottom: 1em;
        }
    }
    #q-1 {
        .statement {
            display: flex;
            text-align: left;
        }
        .choices {
            float: left;
            text-align: left;
        }
    }
    #q-2 {
        .statement {
            display: flex;
            text-align: right !important;
        }
        .choices {
            float: right;
            text-align: right;
        }
    }
    #q-3 {
        .statement {
            display: flex;
            text-align: right !important;
        }
        .choices {
            float: right;
            text-align: right;
        }
    }
    #q-4 {
        .statement {
            display: flex;
            text-align: left;
        }
        .choices {
            float: left;
            text-align: left;
        }
    }
}
